ol{
    list-style-type: square;
   
}

.contenedor-padre{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.contenedor-hijo{
    border: 1px solid black;
    padding: 1%;
    
}
 .cambio{
     list-style: none;
  }
   img{
       width: 5mm;
   }


